# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Node
node_modules/
dist/
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.pytest_cache/
.mypy_cache/

# Coverage
.coverage
htmlcov/

# Misc
*.sqlite3